{% extends 'catalog/base.html' %}

{% block content %}
<div class="row">
    <h2 class="text-center mt-3 mb-5">КОНТАКТЫ MRROBOT</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card text-bg-dark mb-3 ms-5" style="max-width: 18rem;">
                <div class="card-header">mrrobot</div>
                <div class="card-body">
                    <h5 class="card-title">СКОРОСТЬ</h5>
                    <p class="card-text">С нами ваш проект будет выполнен в рекордные сроки.
                        Мы предоставляем результаты без лишних задержек, что позволяет
                        вам сосредоточиться на своих целях.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-dark mb-3 ms-5" style="max-width: 18rem;">
                <div class="card-header">mrrobot</div>
                <div class="card-body">
                    <h5 class="card-title">ЗНАНИЯ</h5>
                    <p class="card-text">Наши эксперты обладают обширными знаниями в своей области. Мы
                        постоянно совершенствуем свои знания, чтобы быть в курсе последних
                        тенденций и инноваций. ь</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-dark mb-3 ms-5" style="max-width: 18rem;">
                <div class="card-header">mrrobot</div>
                <div class="card-body">
                    <h5 class="card-title">РЕЗУЛЬТАТ</h5>
                    <p class="card-text">Мы предоставляем конечный результат в кратчайшие сроки, позволяя вам
                        сосредоточиться
                        на развитии бизнеса и основных задачах. Обращайтесь к нам и не пожалеете.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="сol mb-5 mt-5">
            <div class="card">
                <div class="card-header">
                    МОИ КОНТАКТЫ
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        {% for object in object_list %}
                        <p>Мы всегда на связи! Свяжитесь с нами, чтобы обсудить ваш проект,
                            задать вопросы или получить консультацию. Мы ценим каждого клиента и гарантируем оперативные
                            ответы на все ваши запросы. Наша дружелюбная команда с радостью поможет вам найти решение,
                            которое наилучшим образом соответствует вашим потребностям. Ваши успехи - наш приоритет,
                            и мы будем рады сотрудничеству!<br><br>
                            <b>ТЕЛЕФОН:</b> {{ object.phone }} <br>
                            <b>EMAIL:</b> {{ object.email }}<br>
                            <b>ФИО:</b> {{ object.fullname }}</p>
                        <br>
                        {% endfor %}
                        <footer class="blockquote-footer">Так же Вы можете заполнить форму снизу для
                            связи со мной
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form class='card p-3 bg-black' method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label class="text-light" for="exampleInputName">Ваше имя</label>
                    <input type="text" name="name" class="form-control" id="exampleInputName"
                           aria-describedby="emailHelp"
                           placeholder="Меня зовут...">
                </div>
                <div class="form-group mb-3">
                    <label class="text-light" for="exampleInputEmail">E-mail</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail"
                           placeholder="Мой e-mail...">
                </div>
                <div class="form-group mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label text-light">Ваше сообщение</label>
                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1"
                              placeholder="Я хочу..." rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">ОТПРАВИТЬ</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
