{% extends 'catalog/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{% mediapath object.preview %}" class="img-fluid" alt="...">
        </div>
        <div class="col-6">
            <h1>{{ object.name }}</h1>
            <p>{{ object.description }}</p>
            <p>Цена: <b>{{ object.price }} руб.</b></p>
            <p>Дата публикации: <b>{{ object.created_at }}</b></p>
            {% if version %}
                <p>Название версии: <b>{{ version.name }}</b></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
